@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
.popBold{
    font-weight: 700;
    font-family: 'Poppins';
}
.popmed{
    font-weight: 500;
    font-family: 'Poppins';
}
.biru{
    color:#2F527B;
}
.hijau{
    color: #1D355D;
}
@tailwind base;
@tailwind components;
@tailwind utilities;